body {
    font-size: 1.5rem !important;
    font-family: 'Creepster', cursive !important;
}
#long {
    color: d;
}

#tabok {
    color:#dc3545;
}

#tabnook{
    color:#dc3545;
}

#vie {
    color:#dc3545;
}

#droite{
    
    width: 365px;
}

#long {
    color:#dc3545;
}
#refresh{
    color: white !important;
}